<h2 class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">Recent News</h2>
<ul>

    <li>
        <p>
            <b>[Jun 20, 2024]</b> One paper titled "Enhancing Change Impact Prediction by Integrating Evolutionary Coupling with Software Change Relationships" got accepted to
            <a href="https://conf.researchr.org/home/esem-2024">ESEM 2024</a>.
        </p>

    </li>

    <li>
        <p>
            <b>[Jan 03, 2024]</b> I received my Ph.D degree from Fudan University.
        </p>
    </li>

    <li>
        <p>
            <b>[Nov 20, 2023]</b> One paper titled "Revealing Code Change Propagation Channels by Evolution History Mining" got accepted in
            <a href="https://www.sciencedirect.com/science/article/pii/S0164121223003072"
               >JSS 2023</a>.
            <a href="http://zhoudaihong.github.io/files/2024_JSS_CPC.pdf"
               class="btn btn--success btn--small">Paper</a>
        </p>

    </li>
</ul>